<h1>Revel Software Engineer Practical Exercise</h1>
<h3>Developed by: David Bendickson</h3>
<p>I developed a new feature that determines when to best contact individuals based on the weather:</p>
<ul>
  <li>The best time to engage a customer via a <strong>text message</strong> is when it is sunny and warmer than 75 degrees Fahrenheit</li>
  <li>The best time to engage a customer via <strong>email</strong> is when it is between 55 and 75 degrees Fahrenheit</li>
  <li>The best time to engage a customer via a <strong>phone call</strong> is when it is less than 55 degrees or when it is raining.</li>
</ul>

<h3>
  Please click on Contact Forecast link on the Menu Bar to view the new feature.
  <img src="../assets/download.png" height="40" width="40" />
</h3>
<p>Thank you!</p>
